root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:warning
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = false

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

# Public identifiers must be XML documented.
dotnet_diagnostic.CS1591.severity = warning

# Naming rules: private fields must be _camelCase.
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.private_field_style.required_prefix = _
dotnet_naming_style.private_field_style.capitalization = camel_case

dotnet_naming_rule.private_fields_must_be_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_must_be_underscore.style = private_field_style
dotnet_naming_rule.private_fields_must_be_underscore.severity = warning

# Naming rules: const fields must be ALL_CAPS.
dotnet_naming_symbols.const_fields.applicable_kinds = field
dotnet_naming_symbols.const_fields.required_modifiers = const

dotnet_naming_style.const_field_style.capitalization = all_upper
dotnet_naming_style.const_field_style.word_separator = _

dotnet_naming_rule.const_fields_must_be_all_caps.symbols = const_fields
dotnet_naming_rule.const_fields_must_be_all_caps.style = const_field_style
dotnet_naming_rule.const_fields_must_be_all_caps.severity = warning
